body {
    background-color: #8470FF;
    width: 100%;
    line-height: 1;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}

.content {
    background-color: #aeb79b;
    position: absolute;
    border-radius: 15px;
    padding-left: 5%;
    padding-right:5%;
    padding-bottom: 1%;
    text-align: center;
    margin: auto;
    left: 50%;
        
    transform: translatex(-50%);
}
